__pycache__/
*.py[cod]
*.pyo
*.pyd
.ipynb_checkpoints/
.env
.venv/
venv/
.env.*

# Project artifacts
Data/*.csv
!Data/Indian_Climate_Dataset_2024_2025.csv
!Data/readme.md
!Data/climate_clean_labeled.csv        # ← add this

model_outputs/

# Local notebooks / caches
*.nbconvert.ipynb